.gitignore
.project
*.settings/
.DS_Store
.classpath
/build
/.idea/
/logs
*target/
*.orig
*~
*.iws
*.iml
*.ipr
dependency-reduced-pom.xml
link_report/
linklint-*.zip
linklint/
.checkstyle
**/.checkstyle
